<html>
  <head>
    <title>Welcome to the Epicodus University Registrar!</title>
  </head>
  <body>
    <h1>Welcome to the Epicodus University Registrar!</h1>
    <h4><a href="/students">Click here</a> to view a list of currently-enrolled students</h4>
    <h4><a href="/courses">Click here</a> to view a list of courses</h4>
  </body>
</html>
